@use "../../styles/utilStyles/" as *;

.login-page-component {
  margin: 20px auto;
  width: 250px;
  .header {
    font-size: 24px;
    margin: 20px auto;
  }
}

.form-container button {
  margin: 10px 0 5px;
}

.form-container input {
  padding: 3px;
}

.register-btn-container,
.btn-container {
  margin: 10px 0;
  p {
    display: inline;
    font-size: 14px;
    margin: 6px 0;
  }
  button {
    float: right;
  }
}

.register-btn-container {
  margin-top: 56.5px;
}

.login-page-error-message {
  color: var(--error-red);
  font-size: 13px;
  font-style: italic;
  height: 40px;
  margin: 5px 0 0;
}
