.cartCard {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 5px auto;
  padding: 10px;
}

.itemQuantityContainer {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
  gap: 8px;
}

.quantityBtnContainer {
  display: flex;
  gap: 2px;
}

.itemPriceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.name,
.quantity,
.price {
  margin: 0 0 5px;
}
