@use "../../styles/utilStyles/index" as *;

.cartCard {
  border: 1px solid var(--light-grey);
  border-radius: 1px;
  @include breakpoint(medium) {
    @include flex-row(space-between, stretch);
    height: 116px;
  }
  margin: 5px auto;
  padding: 8px;
}

.col {
  @include breakpoint(medium) {
    width: 50%;
  }
}

.title,
.quantity,
.price {
  font-size: 13px;
  margin: 0 0 5px;
}

.itemDetailsContainer {
  @include flex-row(left, flex-start);
  max-width: 70%;
  @include breakpoint(medium) {
    max-width: 100%;
  }
  img,
  .title {
    cursor: pointer;
  }
  img {
    background-color: var(--light-grey);
    border-radius: 3px;
  }
  p {
    font-size: 13px;
    margin: 0 0 3px 10px;
  }
  .title {
    font-weight: 500;
  }
}

.itemQuantityContainer {
  @include flex-row(flex-end);
  margin-top: -100px;
  @include breakpoint(medium) {
    @include flex-row(center, flex-start);
    margin: 0;
  }
  .quantity {
    margin: 4px 6px 0 0;
  }
}

.quantityBtnContainer {
  display: flex;
  gap: 2px;
}

.itemPriceContainer {
  @include flex-col(flex-end, flex-end, 5px);
  margin-top: 20px;
  @include breakpoint(medium) {
    @include flex-col(space-between, flex-end);
    margin: 0;
  }
}
