@use "../../styles/utilStyles/index" as *;

.cartCard {
  border: 1px solid var(--light-grey);
  border-radius: 1px;
  @include flex-row-wrap(space-between, 10px);
  height: 100px;
  margin: 5px auto;
  padding: 8px;
}

.col {
  width: 30%;
}

.title,
.quantity,
.price {
  font-size: 13px;
  margin: 0 0 5px;
}

.itemDetailsContainer {
  @include flex-row(left, flex-start);
  img,
  .title {
    cursor: pointer;
  }
  img {
    background-color: var(--light-grey);
    border-radius: 3px;
  }
  p {
    font-size: 13px;
    margin: 0 0 3px 10px;
  }
  .title {
    font-weight: 500;
  }
}

.itemQuantityContainer {
  @include flex-row(center, flex-start);
  .quantity {
    margin: 4px 6px 0 0;
  }
}

.quantityBtnContainer {
  display: flex;
  gap: 2px;
}

.itemPriceContainer {
  @include flex-col(space-between, flex-end);
}
