@use "../../styles/utilStyles/" as *;

.passwordUpdateContainer {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  &[data-visible="true"] {
    opacity: 1;
  }
  @include breakpoint-down(small) {
    position: absolute;
    bottom: 0;
    transform: translateY(0%);
    transition: all 500ms ease-in-out;
    width: 100%;
    z-index: -1;
    &[data-visible="true"] {
      transform: translateY(100%);
      z-index: 0;
    }
  }
  .resultMsg {
    margin: 18px 0;
    max-width: 400px;
  }
  form button {
    font-size: 11px;
    margin-top: 5px;
    margin-left: min(100% - 70px, 330px);
    width: 70px;
    @include breakpoint(medium) {
      margin: 5px 0 0 0;
    }
  }
}
