@use "../../styles/utilStyles/" as *;

.passwordUpdateContainer {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  &[data-visible="true"] {
    opacity: 1;
  }
  @include breakpoint-down(small) {
    position: absolute;
    bottom: 0;
    transform: translateY(0%);
    transition: transform 500ms ease-in-out;
    width: 100%;
    z-index: -1;
    &[data-visible="true"] {
      transform: translateY(100%);
    }
  }
  .successMsg {
    color: var(--success-green);
    font-size: 13px;
    font-style: italic;
    margin: 0;
  }
}
