@use "../../styles/utilStyles/" as *;

.mobileNavBtn {
  background-color: transparent;
  color: #242424;
  padding: 0;
  position: absolute;
  width: 35px;
  aspect-ratio: 1;
  top: 5px;
  left: 20px;
  z-index: 7001;
  .hamburger {
    fill: var(--dark-background);
    .line {
      transform-origin: center;
      transition: 300ms ease-in-out;
      will-change: transform;
    }
  }
  &[aria-expanded="true"] {
    .hamburger > .line {
      &__top,
      &__bottom {
        y: 45;
      }
      &__top {
        // rotate: 45deg;
        // transform: rotate(45deg);
        // transform: rotate(45deg);
        transform: translateY(20px) rotate(45deg);

        // transform-origin: 50%;
        @include breakpoint(small) {
          transform: translateY(10px) rotate(45deg);
        }
      }
      &__bottom {
        // rotate: 45deg;
        // transform: rotate(-45deg);
        transform: translateY(-20px) rotate(-45deg);

        // transform-origin: 50% 50%;
        @include breakpoint(small) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
      &__middle {
        opacity: 0;
      }
    }
  }
  @include breakpoint(large) {
    display: none;
  }
}
