@use "../../styles/utilStyles/" as *;

.mobileNavBtn {
  background-color: transparent;
  color: #242424;
  padding: 0;
  position: absolute;
  width: 35px;
  aspect-ratio: 1;
  top: 5px;
  left: 20px;
  z-index: 7001;
  .hamburger {
    fill: var(--dark-background);
    .line {
      transform-origin: center;
      transition: 300ms ease-in-out;
      will-change: transform;
    }
  }
  &[aria-expanded="true"] {
    .hamburger > .line {
      &__top,
      &__bottom {
        y: 45;
      }
      &__top {
        transform-origin: 50% 50%;
        transform: translateY(10px) rotate(45deg);
        @include breakpoint-height(mobile) {
          transform: translateY(25px) translateX(-10px) rotate(45deg);
        }
      }
      &__bottom {
        transform-origin: 50% 50%;
        transform: translateY(-10px) rotate(-45deg);
        @include breakpoint-height(mobile) {
          transform: translateY(-25px) translateX(-10px) rotate(-45deg);
        }
      }
      &__middle {
        opacity: 0;
      }
    }
  }
  @include breakpoint(large) {
    display: none;
  }
}
