@use "../../styles//utilStyles/" as *;

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
  svg {
    margin-left: 5px;
  }
}

.addToCart,
.removeFromCart,
.checkOut {
  color: var(--light-text);
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  &:hover {
    box-shadow: 2px 2px 4px 1px #bfbfbf89;
  }
}

.addToCart,
.checkOut {
  background-color: var(--dark-grey);
}

.addToCart {
  min-width: 106px;
}

.removeFromCart {
  background-color: var(--coral);
  font-size: 10.5px;
  font-weight: 500;
  padding: 4px 12px;
}

.increaseQuantity,
.decreaseQuantity {
  border: 1px solid var(--medium-grey);
  padding: 4px;
  width: 24px;
}

.checkOut {
  border: 1px solid var(--medium-grey);
  padding: 6px 20px;
}

.logout,
.login,
.register,
.submit,
.navigate,
.quickShop,
.details,
.confirmation {
  background-color: var(--light-grey);
  padding: 4px 10px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  &:hover {
    box-shadow: 2px 2px 4px 1px #bfbfbf89;
  }
}

.quickShop,
.favorite {
  background-color: var(--light-background);
  &:hover {
    background-color: var(--light-text);
    box-shadow: 2px 2px 4px 1px #bfbfbf89;
  }
}

.quickShop {
  bottom: 10%;
  left: 10%;
  width: 80%;
}
.favorite {
  top: 3%;
  right: 3%;
  @include breakpoint(large) {
    top: 3%;
    right: 5%;
  }
  svg {
    margin: 0;
    height: 1.2rem;
    width: 1.2rem;
    &.red {
      color: var(--coral);
    }
    &.grey {
      color: var(--medium-grey);
    }
  }
}

.update {
  &:hover {
    box-shadow: none;
    background-color: var(--lighter-grey);
  }
}
