@use "../../styles//utilStyles/" as *;

// * default styles
button {
  border: none;
  border-radius: 2px;
  color: var(--dark-text);
  cursor: pointer;
  font-size: 12px;
  padding: 4px 10px;
}

.addToCart,
.logout,
.quickShop,
.update,
.removeFromCart,
.checkOut,
.confirmation,
.login,
.submit,
.register {
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.navigate,
.back,
.update,
.dropDown,
.confirmation,
.login,
.submit,
.logout,
.register {
  background-color: var(--light-grey);
  &:hover {
    background-color: var(--lighter-grey);
  }
}

.addToCart,
.checkOut {
  background-color: var(--medium-grey);
  &:hover {
    background-color: var(--medium-grey-hover);
  }
}

.addToCart,
.checkOut,
.removeFromCart {
  color: var(--light-text);
}

.quickShop,
.favorite {
  &:hover {
    box-shadow: 2px 2px 4px 1px #bfbfbf89;
  }
}

.removeFromCart {
  background-color: var(--coral);
  padding: 4px 12px;
  &:hover {
    background-color: var(--coral-hover);
  }
}

.increaseQuantity,
.decreaseQuantity {
  border: 1px solid var(--medium-grey);
  padding: 4px;
  width: 24px;
}

.addToCart {
  min-width: 106px;
}

.checkOut {
  padding: 6px 20px;
}

.back {
  padding: 4px 16px;
}

.navigate,
.dropDown {
  @include flex-row(center, center, 6px);
  padding: 6px 10px;
  text-align: center;
}

.quickShop {
  background-color: var(--light-text);
  bottom: 10%;
  color: var(--dark-text);
  left: 10%;
  width: 80%;
}

.favorite {
  background-color: transparent;
  border-radius: 50%;
  height: 40px;
  padding: 0;
  width: 40px;
  top: 3%;
  right: 3%;
  &:hover {
    background-color: var(--light-text);
  }
  @include breakpoint(large) {
    top: 3%;
    right: 5%;
  }
  svg {
    height: 1.2rem;
    margin: 0 auto;
    padding: 0;
    width: 1.2rem;
    vertical-align: middle;
    &.red {
      color: var(--coral);
    }
    &.grey {
      color: var(--medium-grey);
    }
    @include breakpoint-down(medium) {
      margin-top: 2px;
    }
  }
}
