@use "../../styles//utilStyles/" as *;

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
}

.addToCart,
.removeFromCart,
.checkOut {
  box-shadow: 2px 2px 2px 1px rgba($color: var(--box-shadow), $alpha: 0.5);
  color: var(--light-text);
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.addToCart,
.checkOut {
  background-color: var(--dark-grey);
}

.removeFromCart {
  background-color: var(--coral);
  padding: 4px 12px;
}

.increaseQuantity,
.decreaseQuantity {
  border: 1px solid var(--medium-grey);
  padding: 4px;
  width: 24px;
}

.checkOut {
  border: 1px solid var(--medium-grey);
  padding: 6px 20px;
}

.logout,
.login,
.register,
.submit,
.navigate {
  padding: 4px 10px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
