@use "../../styles/utilStyles/" as *;

.passwordResetModal {
  padding: 20px 20px 30px;
  form {
    @include flex-col(flex-start, stretch, 16px);
    margin: 10px auto 0;
    max-width: 380px;
    label {
      margin-bottom: 3px;
    }
    input::placeholder {
      font-style: italic;
    }
    button {
      margin: 0 auto;
      width: 80%;
    }
  }
  .successMsg {
    background-color: rgb(130, 213, 7);
    border-radius: 2px;
    color: var(--light-text);
    font-size: 13px;
    font-style: italic;
    margin: 20px auto 0;
    max-width: 380px;
    padding: 5px;
  }
}
