@use "../../styles/utilStyles/" as *;

.passwordResetModal {
  padding: 20px 20px 30px;
  form {
    @include flex-col(flex-start, stretch, 16px);
    margin: 10px auto 0;
    max-width: 380px;
    label {
      margin-bottom: 3px;
    }
    input::placeholder {
      font-style: italic;
    }
    button {
      margin: 0 auto;
      width: 80%;
    }
  }
  .resultMsg {
    margin: 20px auto 0;
    max-width: 380px;
  }
}
