@use "../../styles//utilStyles/" as *;

.logoutConfirmationModal {
  @include flex-col(space-evenly, center, 10px);
  border-radius: 2px;
  box-shadow: 2px 2px 4px 1px var(--box-shadow);
  padding: 36px;
  div {
    @include flex-col(flex-start, stretch, 20px);
    width: 200px;
    @include breakpoint(medium) {
      @include flex-row(space-around, center, 10px);
      width: 330px;
    }
    h3 {
      margin: 0 auto;
    }
  }
}
