@use "../utilStyles/index" as *;

:root {
  --light-background: hsla(0, 0%, 100%, 0.87);
  --dark-text: #242424;
  --light-text: #fff;

  --lighter-grey: #f3f3f3;
  --light-grey: #e9e9e9;
  --medium-grey: #a0a0a0;
  --dark-grey: #7e7e7e;

  --box-shadow: #b8b8b8;

  --coral: #f37761;
  --error-red: #fd6449;
}
