@use "../utilStyles/index" as *;

.no-scroll {
  overflow: hidden;
}

.page-container {
  background-color: var(--light-background);
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  @include breakpoint(large) {
    padding: 0;
  }
}
