@use "../utilStyles/index" as *;

.no-scroll {
  overflow: hidden;
}

.page-container {
  background-color: var(--light-background);
  margin: 0 auto;
  max-width: 1024px;
  min-height: calc(100vh - 372px);
  padding: 0 20px;
  @include breakpoint(medium) {
    min-height: calc(100vh - 435px);
  }
  @include breakpoint(large) {
    min-height: calc(100vh - 472px);
  }
  @include breakpoint(xlarge) {
    padding: 0;
  }
}
