@use "../utilStyles/index" as *;

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-quicksand);
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-size: 17px;
  font-weight: 400;
}

p,
a,
li,
label,
button,
span {
  font-family: var(--font-open-sans);
}

.page-header {
  font-size: 28px;
  font-weight: 500;
  margin-top: 0;
}

.page-subheader {
  text-transform: capitalize;
}

.loading {
  font-style: italic;
  font-size: 14px;
  margin: 0;
}

.error,
.success {
  border-radius: 2px;
  color: var(--light-text);
  font-size: 13px;
  font-style: italic;
  padding: 3px 5px;
}

.error {
  background-color: var(--error-red);
  margin: 5px 0 0;
}

.success {
  background-color: var(--success-green);
}
