@use "../utilStyles/index" as *;

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-quicksand);
}

// h1 {
//   font-size: 28px;
//   font-weight: 500;
// }

h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

p,
a,
li,
label,
button {
  font-family: var(--font-open-sans);
}

.page-header {
  font-size: 28px;
  font-weight: 500;
}

.page-subheader {
  font-size: 18px;
}
