@use "../../styles/utilStyles/index" as *;

.productCard {
  @include flex-col(space-between);
  width: calc((100vw - 80px) / 2);
  @include breakpoint(medium) {
    width: calc((100vw - 115px) / 4);
  }
  @include breakpoint(large) {
    width: 180px;
  }
  .imgContainer {
    position: relative;
    .productCardImg {
      background-color: var(--light-grey);
      border-radius: 5px;
      width: 100%;
    }
    button {
      display: none;
      position: absolute;
      bottom: 15%;
      left: 10%;
      width: 80%;
    }
    &:hover {
      .productCardImg {
        background-color: var(--lighter-grey);
        cursor: pointer;
      }
      @include breakpoint(medium) {
        button {
          cursor: pointer;
          display: block;
        }
      }
    }
  }

  .title,
  .price {
    font-size: 12px;
    margin: 5px 0;
  }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .price {
    font-weight: 500;
  }
}
