@use "../../styles/utilStyles/index" as *;

.productCard {
  @include flex-col(space-between);
  width: calc((100vw - 80px) / 2);
  @include breakpoint(medium) {
    width: calc((100vw - 115px) / 4);
  }
  @include breakpoint(large) {
    width: 180px;
  }
  .imgContainer {
    position: relative;
    span {
      background-color: var(--light-grey);
      border-radius: 5px;
      display: block;
      width: 100%;
      &:hover {
        background-color: var(--lighter-grey);
        cursor: pointer;
      }
    }
    > button {
      display: none;
      position: absolute;
      z-index: 2;
    }
    &:hover > button {
      display: block;
    }
    &:hover span:has(+ button) {
      background-color: var(--lighter-grey);
    }
  }

  .title,
  .price {
    font-size: 12px;
    margin: 2px 0;
  }
  .title {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .price {
    font-weight: 500;
  }
}
