@use "../../styles/utilStyles/index" as *;

.productCard {
  @include flex-col(left, space-between);
  width: 188px;
}

.productCardImg {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  cursor: pointer;
  width: 188px;
  &:hover {
    background-color: rgb(243, 243, 243);
  }
}

.title,
.price {
  font-size: 12px;
  margin: 5px 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 188px;
}

.price {
  font-weight: 500;
}

.productCard div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}
