@use "../../styles//utilStyles/index" as *;

.top-menu {
  @include flex-row(flex-end);
  border-bottom: 1px solid var(--light-grey);
  margin: 0 0 46px;
  padding: 0 0 12px;
  @include breakpoint(large) {
    @include flex-row(space-between);
  }
}

.product-list {
  @include flex-row-wrap(flex-start, 10px);
  list-style: none;
  padding: 0;
}
