@use "../../styles//utilStyles/" as *;

.commonInputContainer {
  @include flex-col(space-between, left);
}

.commonInputContainer label {
  display: inline-block;
  font-size: 14px;
  margin: 3px 0;
}
