@use "../../styles//utilStyles/" as *;

.commonInputContainer {
  @include flex-col(space-evenly, stretch, 1px);
  label {
    display: inline-block;
    font-size: 13px;
  }
  input {
    padding: 3px;
  }
}
