@use "../../styles/utilStyles/" as *;

.modal {
  background-color: var(--light-background);
  display: none;
  position: fixed;
  top: 12%;
  left: 10%;
  width: 80%;
  @include breakpoint(small) {
    left: 15%;
    width: 70%;
  }
  @include breakpoint(medium) {
    left: 10%;
    width: 80%;
  }
  @include breakpoint(large) {
    left: 20%;
    width: 60%;
  }
  @include breakpoint(xlarge) {
    left: calc((100vw - 725px) / 2);
    width: 725px;
  }
  z-index: 9999;
  &[data-visible="true"] {
    display: block;
  }
  button[class="closeModal"] {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1;
  }
}

.quickShop {
  top: 10%;
  @include breakpoint(medium) {
    top: 15%;
  }
  @include breakpoint(large) {
    top: 20%;
  }
}

.requestLogin,
.logoutConfirmation {
  top: 25%;
  @include breakpoint(medium) {
    top: 30%;
  }
}
