@use "../../styles//utilStyles/" as *;

.mainHeader {
  @include flex-row(space-between, center);
  margin: 0 auto;
  max-width: 1024px;
  padding: 10px 20px;
}

.mainHeader h4 {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
