@use "../../styles/utilStyles/index" as *;

.imgContainer {
  position: relative;
  width: 100%;
  span {
    background-color: var(--light-grey);
    border-radius: 5px;
    display: block;
  }
  > button {
    display: none;
    position: absolute;
    z-index: 2;
  }
  &:hover > button {
    display: block;
  }
  &:hover span:has(.hoverCursor) {
    background-color: var(--lighter-grey);
  }
  &[data-visible="true"] > button {
    display: block;
  }
}

.hoverCursor:hover,
.hoverCursor:focus {
  background-color: var(--lighter-grey);
  cursor: pointer;
}
