@use "../../styles/utilStyles/" as *;

.searchbar {
  position: relative;
  @include breakpoint-down(medium) {
    width: 100%;
  }
  form {
    @include flex-row(flex-end, stretch, 10px);
    @include breakpoint(large) {
      @include flex-row(flex-start, stretch, 10px);
    }
    input {
      border: none;
      border-bottom: 1px solid var(--medium-grey);
      @include breakpoint-down(medium) {
        width: calc(100vw - 80px);
      }
      &::placeholder {
        font-size: 13px;
        font-style: italic;
      }
      button {
        background-color: transparent;
        display: inline-block;
        padding: 2px 6px;
        &:hover {
          background-color: transparent;
        }
        svg {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}
