@use "../../styles//utilStyles/" as *;

.socials {
  background-color: var(--light-background);
  padding: 60px 0 10px;
  @include breakpoint(medium) {
    padding: 60px 0 20px;
  }
  @include breakpoint(large) {
    padding: 100px 0 20px;
  }
  ul {
    @include flex-row(center, center, 10px);
    @include breakpoint(medium) {
      @include flex-row(center, center, 30px);
    }
    @include breakpoint(large) {
      @include flex-row(center, center, 40px);
    }
  }
}

.menu {
  background-color: var(--lighter-grey);
  margin: 0 auto;
  padding: 20px 20px 26px;
  @include breakpoint(medium) {
    padding: 30px 20px;
  }
  ul {
    @include flex-row-wrap(space-between);
    margin: 10px auto 30px;
    @include breakpoint(medium) {
      margin: 10px auto 40px;
    }
    max-width: 1024px;
    li {
      font-size: 12px;
      padding: 6px 0;
      text-align: center;
      text-transform: uppercase;
      width: 30%;
      @include breakpoint(medium) {
        font-size: 13px;
        padding: 10px 0;
      }
      &:hover {
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
  p {
    font-size: 11px;
    font-weight: 500;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(medium) {
      font-size: 12px;
    }
  }
}
