@use "../../styles//utilStyles/" as *;

.productContainer {
  @include flex-col();
  margin: 0 auto;
  max-width: 400px;
  @include breakpoint(medium) {
    max-width: 700px;
  }
}

.detailsContainer {
  @include flex-col(center, stretch, 5px);
  margin: 20px auto 5px;
  @include breakpoint(medium) {
    @include flex-row(flex-start, stretch, 20px);
    margin: 50px auto 20px;
  }
  .details {
    @include flex-col(space-between);
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 30px;
    @include breakpoint(medium) {
      padding-bottom: 20px;
    }
    h1 {
      font-size: 20px;
      font-weight: 500;
      @include breakpoint(medium) {
        font-size: 24px;
        margin: 0 0 20px 0;
      }
    }
    .description {
      font-size: 13px;
      line-height: 1.35rem;
      margin: 25px auto 30px;
      width: 100%;
      @include breakpoint(medium) {
        margin: -20px auto 0;
      }
    }
    .ratingContainer {
      @include flex-row(flex-start, center, 10px);
    }
    .purchaseContainer {
      @include flex-row(space-between, center);
      @include breakpoint(medium) {
        @include flex-row(flex-end, center, 5px);
      }
      .price {
        margin: 0 10px 0 0;
      }
    }
  }
}

.reviewsContainer {
  margin: 15px 0 20px;
  h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 15px auto;
    @include breakpoint(medium) {
      font-size: 20px;
    }
  }
  .reviewsList {
    margin: 5px auto;
    padding: 0;
    li {
      border-bottom: 1px solid var(--light-grey);
      border-radius: 3px;
      font-size: 13px;
      padding: 12px 0;
      .reviewRating {
        margin: 5px 0;
      }
      p {
        @include flex-col();
        margin: 5px 0;
      }
      .reviewComment {
        font-style: italic;
        margin: 3px 0;
      }
      .reviewName {
        padding-left: 15px;
      }
    }
  }
}
