.overlay {
  background-color: hsla(0, 0%, 91%, 0.794);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 300ms ease-in-out;
  z-index: 1000;
  &[data-visible="true"] {
    display: block;
  }
}
