.overlay {
  background-color: hsla(0, 0%, 91%, 0.794);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms ease-in-out;
  &[data-visible="true"] {
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
  }
}
