@use "../../styles/utilStyles/" as *;

.view-container {
  @include breakpoint(medium) {
    @include flex-row();
  }
  position: relative;
  .current-view-type {
    border: 1px solid var(--light-grey);
    cursor: pointer;
    letter-spacing: 1.2px;
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    // z-index: 5000;
    @include breakpoint(medium) {
      display: none;
    }
    span {
      margin-right: 5px;
    }
  }
  .view-list {
    @include flex-col(center, center);
    background-color: var(--light-grey);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    @include breakpoint(medium) {
      @include flex-col(flex-start, stretch, 10px);
      background-color: var(--light-background);
      margin-right: 20px;
      position: relative;
      width: auto;
      z-index: 0;
    }
    li {
      cursor: pointer;
      font-size: 13px;
      letter-spacing: 1.2px;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      &:hover,
      &:focus {
        background-color: var(--lighter-grey);
      }
      @include breakpoint(medium) {
        text-align: left;
      }
    }
  }
  .current-view {
    padding-top: 10px;
    width: 100%;
    @include breakpoint(medium) {
      align-self: flex-start;
      padding: 0;
    }
    h2 {
      margin: 0 0 10px 0;
    }
  }
}

.current {
  background-color: var(--lighter-grey);
}

.usernameInput,
.nameInput {
  @include flex-row(flex-start, flex-end, 5px);
  margin-bottom: 10px;
  input {
    border: 1px solid var(--medium-grey);
    padding: 3px;
  }
  button {
    font-size: 11px;
    margin: 0;
    &:hover {
      box-shadow: none;
      background-color: var(--lighter-grey);
    }
  }
}

.passwordUpdate {
  @include flex-col(flex-start, stretch, 5px);
  margin: 15px 0 0;
  input {
    max-width: 400px;
  }
  button {
    width: 80px;
    &:hover {
      box-shadow: none;
      background-color: var(--lighter-grey);
    }
  }
}
