@use "../../styles//utilStyles/index" as *;

.search-container {
  @include flex-row(flex-end);
  border-bottom: 1px solid var(--light-grey);
  margin: 0 0 46px;
  padding: 0 0 12px;
}

.product-list {
  @include flex-row-wrap(flex-start, 10px);
  list-style: none;
  margin-top: 50px;
  padding: 0;
}
