.mainNav {
  font-size: 16px;
}

.navLinkList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navLinkList li {
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  padding: 4px 8px;
  text-align: center;
  &:hover {
    background-color: aquamarine;
  }
}

.navLinkList li a {
  text-decoration: none;
}

.mainNav button {
  height: 21px;
  width: 60px;
}
