.mainNav {
  font-size: 16px;
}

.navLinkList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  li {
    margin-left: 15px;
    text-align: center;
    a {
      border-radius: 3px;
      color: #242424;
      cursor: pointer;
      font-size: 14px;
      padding: 4px 8px;
      text-decoration: none;
      &:hover {
        text-decoration: underline double #242424;
      }
    }
  }
}
