.details-page {
  button:first-child {
    margin-top: 10px;
  }
  .back-btn-container span {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    margin-left: 8px;
    text-transform: uppercase;
  }
}
